globtherm_traits_collated_180617.xlsx
dropbox filtered occurrences for sWEEP/
GARD1.1_dissolved_ranges/
lizard_body_temperatures_natural_history_and_life-history_traits.xlsx
Shapes.zip
CMEC_regions_&_realms.zip
